<% if user.image? %>
  <span><%= image_tag user.image.url, alt:"画像なし" %></span>
<% else %>
  <% if Rails.env.development? %>
    <span><%= image_tag "/assets/default_user.png", alt:"画像無し" %></span>
  <% else %>
    <span><%= image_tag "https://res.cloudinary.com/hadnz0ql1/image/upload/v1587201310/default_user.png", alt:"画像なし" %></span>
  <% end %>
<% end %>   