<div class="heading">
 <h2>お気に入りの楽しみ方</h2>  
</div>
<br><br>
<!-- <p class="syumibetsu">趣味別</p>
<%= pie_chart @like_ways_each_hobby_count, donut: true, legend: "right" %> -->
<br><br>
<%= render 'ways', ways: @like_ways %>