<h3>Q&A</h3>
<br><br>
<p>Q1. 趣味の投稿の仕方を教えてください。</p>
<p>A. 「新規投稿はコチラ」より投稿することができます。</p>

<br><br>

<p>Q2. 難易度はどこで生かされるのでしょうか。</p>
<p>A. 趣味の検索の際に、自分のレベルに合ったもの検索するために難易度でソートできます。</p>
<br><br>
<p>Q3. 「気になる」と「満足」はどのように使い分けるのですか。</p>
<p> A. 「気になる」は自分が気になったものにつけます。<br>
       　「満足」は「気になる」をした楽しみ方のみに登録可能で、実際に取り組んでみて良かったものに対して登録するものです。</p>