/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  font-family: "游ゴシック";
}

.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background: url(https://res.cloudinary.com/hadnz0ql1/image/upload/v1586952290/start.png) no-repeat center center;
    background-size: cover;
}

.jumbotron-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

a:link { color: #003333; }
a:visited { color: #003333; }

.post {/*親div*/
    position: relative;
    top: 20px;
  }

.post a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /*以下装飾*/
  margin:0;/*余計な隙間を除く*/
  font-size: 20px;/*文字サイズ*/
  border: solid black 2px; /*線で囲う*/
  padding: 7px;/*文字と線の間の余白*/
  color: black;/*文字色*/
  text-decoration: none;/*下線を表示させない*/
  }
.post img {
  border: 2px #C0C0C0 solid;
  width: 100%;
  }
  
 .find {/*親div*/
    position: relative;
    top: 20px;
  }

.find a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /*以下装飾*/
  margin:0;/*余計な隙間を除く*/
  font-size: 20px;/*文字サイズ*/
  border: solid black 2px; /*線で囲う*/
  padding: 7px;/*文字と線の間の余白*/
  color: black;/*文字色*/
  text-decoration: none;/*下線を表示させない*/
  }
.find img {
  border: 2px #C0C0C0 solid;
  width: 100%;
  }
  
.favorite_way_button {
      float:right;
}

.follow_button {
      float:right;
}

.favorite_hobby_button {
      float:right;
}
  
.created_at {
    float:right;
}

.ways_thead {
    background-color: #CCFFCC
}

.navbar img {
  width: 50px
}

.media img {
  width: 50%
}

.users_body th {
  width:  200px;
}

.users_body img {
  width: 50%
}

.users_body tr td span {
  width:600px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ranking_index th {
  width:  100px;
}

.ranking_index span {
  float:right;
}

.ranking_index img {
  width: 100%
}

.heading h2{
	position: relative;
	padding: 10px 20px;
	font-size:20px;
	text-align:center;
	border-top: solid 1px #325A8C;
	border-bottom: solid 1px #325A8C;
}
.heading h2::before,
.heading h2::after{
	content: '';
	position: absolute;
	top: -10px;
	width: 1px;
	height: calc(100% + 20px);
	background-color: #325A8C;
}
.heading h2::before{left: 10px;}
.heading h2::after{right: 10px;}

.ranking_decoration  {
  width:  50px;
}

.card-body img {
  width: 100%
}

.user_show_image img {
  width:100%
}

.user_show_image {
  padding-bottom: 100px
}

.user_show_followbutton {
  width:65%;
}

.way_show_image img {
  width:100%
}

.way_show_userimage img {
  width:100%
}

.way_show_username p {
  max-width: 400px; 
  margin: 0 auto; 
}

.way_show_name h4 {
  width:700px;
  margin: 0 auto;
  float:left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; 
}

.way_edit_button {
  width:100px;
  float:right;
  padding-top:40px;
}

.way_show_favorite {
  width:100px;
  float:right;
  padding-top:70px;
}

.ways_body th img {
  width:50px;
}

.ways_body td img {
  width:100px;
}

.ways_body tr th p {
  width:150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ways_body tr td p {
  width:400px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ways_image p {
  width:100px;
}

.ways_body th {
  max-width: 120px; /* 幅は最大500pxまでしか広げない */
  margin: 0 auto; /* 左右をauto指定にして左右中央揃えに */
}

.ways_body td {
  max-width: 400px; 
  margin: 0 auto; 
}

.comments_body th {
  max-width: 120px; /* 幅は最大500pxまでしか広げない */
  margin: 0 auto; /* 左右をauto指定にして左右中央揃えに */
}

.comments_body td {
  max-width: 400px; 
  margin: 0 auto; 
}

.comments_body th img {
  width:50px;
}

.comments_body tr th p {
  width:150px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.comments_body tr td p {
  width:400px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ranking_index tr td p {
  width:500px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; 
}

.navbar_user_image p {
  margin: 0 auto;
  padding:0;
  width:200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; 
}

.navbar_user_image {
  margin: 0 auto;
  padding:0;
}

.navbar_user_image img {
  width:50px;
}

.see_more p {
  float:right;
}

.navbar_logo a {
  font-size: 20px;
  font-family: Segoe UI;
  width:100px;
  height:50px;
  margin: 0 auto;
  padding:0;
  vertical-align: middle; /* 上下中央に寄せる */ 
}

.comment {
  padding:0;
}

.way_edit_submit span {
  padding:50px;
}

.way_edit_submit {
  margin:50px 0;
}